@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  background-color: black;
}

/* section ////////////////////////////////////////////////////////////////// */
section {
  width: 100%;
  min-height: 100px;
  padding: 20px 40px;
  background-color: black;
  > .grid-container {
    width: 100%;
    height: 100vh;
    /* background-color: purple; */
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(8, 11.5%);
    grid-template-rows: repeat(4, 20%);
    justify-content: center;
    align-content: center;
    gap: 15px;
    > figure {
      /* border: 1px solid white; */
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &:hover{
       transition: .4s transform ease;
       transform: translateY(-5px);
      }
      &:nth-of-type(1) {
        grid-area: 1 / 1 / span 1 / span 2;
        background-color: #1a1a1a;
        > img {
          width: 60%;
          object-fit: contain;
        }
      }
      &:nth-of-type(2) {
        grid-area: 1 / 3 / span 1 / span 2;
        /* border: 1px solid gold; */
        > img {
          object-position: center;
        }
        > figcaption {
          /* border: 1px solid white; */
          top: 60%;
        }
      }
      &:nth-of-type(3) {
        grid-area: 1 / 5 / span 1 / span 1;
        background-color: #0d3138;
        > img {
          object-fit: contain;
          width: 40%;
        }
        > figcaption {
          /* border: 1px solid white; */
          top: 70%;
        }
      }
      &:nth-of-type(4) {
        grid-area: 1 / 6 / span 1 / span 1;
        background-color: #1a1a1a;
        > img {
          width: 70%;
          object-fit: contain;
        }
      }
      &:nth-of-type(5) {
        grid-area: 1 / 7 / span 1 / span 2;
      }
      &:nth-of-type(6) {
        grid-area: 2 / 1 / span 1 / span 2;
        background-color: #0d3138;
        img {
          object-fit: contain;
          width: 80%;
        }
      }
      &:nth-of-type(7) {
        grid-area: 2 / 3 / span 2 / span 4;
      }
      &:nth-of-type(8) {
        grid-area: 2 / 7 / span 2 / span 2;
        > figcaption {
          /* border: 1px solid white; */
          top: 80%;
        }
      }
      &:nth-of-type(9) {
        grid-area: 3 / 1 / span 1 / span 2;
        background-color: #1a1a1a;
        > figcaption {
          /* border: 1px solid white; */
          top: 0;
        }
      }
      &:nth-of-type(10) {
        grid-area: 4 / 1 / span 1 / span 4;
        background-color: #0d3138;
        > img {
          object-fit: contain;
          width: 75%;
        }
      }
      &:nth-of-type(11) {
        grid-area: 4 / 5 / span 1 / span 2;
      }
      &:nth-of-type(12) {
        grid-area: 4 / 7 / span 1 / span 1;
        background-color: #1a1a1a;
        > figcaption {
          /* border: 1px solid white; */
          top: 67%;
        }
        > img {
          object-fit: contain;
          width: 30%;
        }
      }
      &:nth-of-type(13) {
        grid-area: 4 / 8 / span 1 / span 1;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        width: 100%;
        height: 50px;
        top: calc(50% - 25px);
        color: white;
        font-family: Inter;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/* footer  ///////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
       width: 100%;
       min-height: 100px;
       padding: 20px 50px;
       background-color: black;
       display: flex;
       color: white;
       /* border-top: 1px solid white; */
       justify-content: space-between;
      >.name{
       display: flex;
       flex-wrap: wrap;
       background-color: #0d3138;
       border-radius: 62% 38% 90% 10% / 17% 83% 17% 83% ;
       padding: 20px;
 
       >*{
              /* border: 1px solid red; */
              width: 100%;
       }
        >h2{
              font-size: 30px;
              display: flex;
              align-items: center;
       }
       >p{
              font-size: 18px;
              color: rgba(255, 255, 255, 0.759);
              display: flex;
              align-content: start;
       }
      }
      >.info{
       display: flex;
       flex-wrap: wrap;
      
       >span{
              /* border: 1px solid white; */
              width: 100%;
              display: flex;
              gap: 10px;
              font-size: 12px;
              font-weight: normal;
              color: whitesmoke;
              >i{
                     color: rgba(255, 255, 255, 0.759);
              }
       }
      }
      >.socials{
       display: flex;
       align-items: center;
       gap: 10px;
       padding-left: 100px;
       >i{
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              color: white;
              background-color: #0d3138;
              border-radius: 50%;
              transition: .5s;
              &:first-of-type{
                     border-radius: 62% 38% 90% 10% / 17% 83% 17% 83% ;
              }
              &:nth-of-type(2){
                     border-radius: 62% 38% 60% 40% / 17% 43% 57% 83% ;
              }
              &:nth-of-type(3){
                     border-radius:62% 38% 60% 40% / 55% 43% 57% 45%  ;
              }
              &:nth-of-type(4){
                     border-radius: 45% 55% 60% 40% / 55% 55% 45% 45% ;
              }
              &:last-of-type{
                     border-radius: 45% 55% 25% 75% / 55% 30% 70% 45% ;
              }
              &:hover{
                     background-color: white;
                     color: #0d3138;
              }
       }
      }

}